---
import ProjectPreview from "./project-preview.astro";
import { getAllProjects } from "../../utils/project";
import SectionContainer from "../section-container.astro";
const allProjects = await getAllProjects();

interface Props {
	maxProjects: number;
}

const { maxProjects } = Astro.props;
---

<SectionContainer>
	<h2 class="title mb-4 text-xl">Posts</h2>
	<div class="grid grid-cols-2 gap-4 md:grid-cols-4">
		{allProjects.slice(0, maxProjects).map((p) => <ProjectPreview project={p} />)}
	</div>
</SectionContainer>
