---
import NoteIcon from "../icons/note-icon.astro";
import Li from "../li.astro";
import Link from "../link.astro";
import List from "../list.astro";
import SectionContainer from "../section-container.astro";

import { getContentSortAndLimit } from "../../services/content";

interface Props {
  limit?: number;
}

const { limit } = Astro.props;

const posts = await getContentSortAndLimit({
  typeContent: { type: "post" },
  limit,
});
---

<SectionContainer id="posts">
  <div class="flex flex-col gap-y-6">
    <div class="flex gap-x-2 items-center font-semibold">
      <NoteIcon class="" />
      <h3 class="text-3xl text-blue-800 dark:text-blue-600 font-semibold">
        Publicaciones
      </h3>
    </div>
    <List>
      {posts.map(({ data, slug }) => <Li data={data} slug={slug} />)}
    </List>
    <div class="flex justify-center items-center">
      <Link link={"/posts"}>
        <span>{"Anteriores publicaciones"}</span>
      </Link>
    </div>
  </div>
</SectionContainer>
