---
import { getContentSortAndLimit } from "../../services/content";
import Card from "../card.astro";
import BriefcaseIcon from "../icons/briefcase-icon.astro";
import Link from "../link.astro";
import Masonry from "../masonry.astro";
import SectionContainer from "../section-container.astro";

interface Props {
  limit?: number;
}

const { limit } = Astro.props;

const projects = await getContentSortAndLimit({
  typeContent: { type: "project" },
  limit,
});
---

<SectionContainer id="projects">
  <div class="flex flex-col gap-y-6">
    <div class="flex gap-x-2 font-semibold">
      <BriefcaseIcon />
      <h3 class="text-3xl text-blue-800 dark:text-blue-600 font-semibold">
        Proyectos
      </h3>
    </div>
    <Masonry>
      {projects.map(({ data, slug }) => <Card data={data} slug={slug} />)}
    </Masonry>
    <div class="flex justify-center items-center">
      <Link link={"/projects"}>
        <span>{"Ver más proyectos"}</span>
      </Link>
    </div>
  </div>
</SectionContainer>
