---
import Card from '@/components/card.astro'
import BriefcaseIcon from '@/components/icons/briefcase-icon.astro'
import Masonry from '@/components/masonry.astro'
import SectionContainer from '@/components/section-container.astro'
import ViewPlus from '../view-plus.astro'
import { getContent } from '@/services/content'

const projects = await getContent({ type: 'project' })
const MAX_PROJECTS = 10
const projectsLimit = projects?.slice(0, MAX_PROJECTS)
---

<SectionContainer id='projects' class='my-32'>
  <div class='flex flex-col gap-y-6'>
    <div class='flex gap-x-2 font-semibold'>
      <BriefcaseIcon />
      <h3 class='text-3xl text-blue-800 dark:text-blue-600 font-semibold'>
        Proyectos
      </h3>
    </div>
    <Masonry>
      {projectsLimit.map(({ data, slug }) => <Card data={data} slug={slug} />)}
    </Masonry>
    <ViewPlus title={'Ver más proyectos'} link='/projects' />
  </div>
</SectionContainer>
