---
import { getContent } from '@/services/content'
import SectionContainer from '@/components/section-container.astro'
import Item from '@/components/item.astro'
const services = await getContent({ type: 'service' })
import FolderStarIcon from '@/components/icons/folder-star-icon.astro'
import Bento from '../bento.astro'
---

<SectionContainer class='my-32' id='services'>
  <div class='flex flex-col gap-y-6'>
    <div class='flex gap-x-2 items-center'>
      <FolderStarIcon />
      <h3 class='text-3xl font-semibold'>Services</h3>
    </div>
    <Bento>
      {
        services?.map(
          ({
            data: {
              description,
              thumbnail: { src, alt },
              title,
            },
            slug,
          }) => (
            <Item
              content={{
                title,
                description,
                thumbnail: {
                  src,
                  alt,
                },
                path: slug,
              }}
              class=''
            />
          ),
        )
      }
    </Bento>
  </div>
</SectionContainer>
