---
import Hero from "@/components/hero.astro";
import Layout from "@/layouts/root.astro";
import SectionContainer from "@/components/seccion-container.astro";
import { SERVICES } from "src/constants";
---

<Layout>
  <Hero />
  <SectionContainer id="services">
    <main class="flex flex-col gap-4 py-10 justify-center items-center">
      <h4 class="font-semibold text-4xl uppercase text-start">
        Nuestros servicios
      </h4>
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
        {
          SERVICES.map(({ thumbnail, title, description }) => (
            <div class="group relative items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30">
              <div class="h-96 w-72">
                <img
                  class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
                  src={thumbnail}
                  alt=""
                />
              </div>
              <div class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70" />
              <div class="absolute inset-0 flex translate-y-[50%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
                <h1 class="font-dmserif text-lg font-semibold text-white">
                  {title}
                </h1>
                <p class="mb-3 text-lg italic text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                  {description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </main>
  </SectionContainer>
</Layout>
