---
import InfoIcon from "@/components/icons/info.astro";
import SectionContainer from "@/components/section-container.astro";
import Subtitle from "@/components/subtitle.astro";
import { Image } from "astro:assets";

interface Props {
  image: string;
  imageAlt: string;
  title: string;
  description: string;
}

const { image, description, title, imageAlt } = Astro.props;
---

<SectionContainer id="about">
  <div class="flex flex-col gap-y-6">
    <div class="flex gap-x-2 items-center font-semibold">
      <InfoIcon />
      <Subtitle>{title}</Subtitle>
    </div>
    <article
      class="flex flex-col items-center justify-center gap-8 md:flex-row"
    >
      <p class="max-w-md">{description}</p>
      <div class="flex flex-col justify-center items-center">
        <Image
          width={400}
          height={600}
          src={image}
          class="w-full"
          alt={imageAlt}
        />
      </div>
    </article>
  </div>
</SectionContainer>
