---
import FacebookIcon from "@/components/icons/facebook.astro";
import GmailIcon from "@/components/icons/gmail.astro";
import LinkedinIcon from "@/components/icons/linkedin.astro";
import WhatsappIcon from "@/components/icons/whatsapp.astro";
import Link from "@/components/link.astro";
import { type SocialMedia } from "@/types/social-media";

interface Props {
  redes: SocialMedia;
}

const {
  redes: { facebook, linkedin, whatsapp, mail },
} = Astro.props;
---

<div class="justify-center items-center flex gap-x-4">
  <Link url={facebook} class="flex justify-center gap-x-1 items-center">
    <FacebookIcon />
    <span>@KaisenBIM</span>
  </Link>
  <Link url={linkedin} class="flex justify-center gap-x-1 items-center">
    <LinkedinIcon />
    <span>kaisenbim</span>
  </Link>
  <Link url={whatsapp} class="flex justify-center gap-x-1 items-center">
    <WhatsappIcon />
    <span>+591 77056643</span>
  </Link>
  <Link url={mail} class="flex justify-center gap-x-1 items-center">
    <GmailIcon />
    <span>kaisenbim@gmail.com</span>
  </Link>
</div>
