---
import { SITE_CONFIG } from '@/constants'
import SectionContainer from './section-container.astro'

const year = new Date().getFullYear()
---

<SectionContainer>
  <footer class='flex flex-col'>
    <div class=''>
      {SITE_CONFIG.author}
    </div>
  </footer>
</SectionContainer>
