---
import LogoIcon from "@/components/icons/logo.astro";
import Link from "@/components/link.astro";
import ThemeToggle from "@/components/theme-toggle.astro";
import { LINKS } from "@/constants/links";
---

<header
  class="sticky top-0 z-10 flex items-center justify-center w-full mx-auto py-4 text-sm"
>
  <nav
    class="flex gap-x-2 xs:gap-x-3 sm:gap-x-4 md:gap-x-6 px-3 sm:px-4 md:px-6 text-sm font-semibold rounded-full justify-center items-center"
  >
    <a
      href="/"
      class="relative block hover:scale-105 transition-transform duration-200"
      ><LogoIcon class="w-8" /></a
    >
    {
      LINKS.map(({ url, title, label }) => (
        <Link label={label} url={url}>
          {title}
        </Link>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-gray-300/60 dark:bg-gray-800/60 ring-white/10;
    }
  }
</style>
