---
import SocialLink from '@/components/link.astro'
import MailIcon from '@/components/icons/mail-icon.astro'
import { Image } from 'astro:assets'
import SectionContainer from './section-container.astro'
---

<SectionContainer>
  <div
    class='w-full flex flex-col lg:flex-row gap-12 justify-center items-center mt-6'>
    <div class='flex flex-col gap-y-8 w-full'>
      <div class='w-full flex flex-col gap-y-2'>
        <h1 class='text-6xl font-bold text-blue-800 dark:text-blue-600'>
          KaisenBIM
        </h1>
        <p class='text-lg'>Contribuyendo al futuro de la ingeniería.</p>
      </div>
      <div class='flex gap-x-2'>
        <SocialLink link=''>
          <MailIcon className='' />
          <span>Contactanos</span>
        </SocialLink>
      </div>
    </div>
    <Image
      src={'/hero.webp'}
      alt={'Background imagen hero'}
      width={960}
      height={430}
      class='rounded-sm shadow-lg brightness-50 w-md h-auto'
    />
  </div>
</SectionContainer>
