---
import { Image } from "astro:assets";
import Title from "./title.astro";

interface Props {
  image: string;
  title: string;
  description: string;
  imageAlt: string;
}

const { image, description, title, imageAlt } = Astro.props;
---

<section id="heroID" class="flex flex-col gap-y-10 my-10">
  <article
    class="w-full flex flex-col md:flex-row gap-y-12 gap-x-6 justify-center items-center mt-6"
  >
    <header class="flex flex-col gap-y-8 w-full">
      <div class="w-full flex flex-col gap-y-2">
        <Title>
          {title}
        </Title>
        <p class="text-pretty">
          {description}
        </p>
      </div>
    </header>
    <div class="flex flex-col justify-center items-center">
      <Image
        width={1024}
        height={800}
        src={image}
        class={"brightness-90 rounded-sm"}
        loading="eager"
        fetchpriority="high"
        alt={imageAlt}
      />
    </div>
  </article>
</section>
