---
interface Props {
  link: string
}

const { link } = Astro.props
---

<a
  href={link}
  class='rounded-md border font-medium dark:border-gray-200
  border-gray-800 px-2 py-1 inline-flex active:border-blue-800 hover:border-blue-800 active:dark:border-blue-600 hover:dark:border-blue-600 gap-x-2 justify-center items-center text-sm transition group max-w-fit active:text-blue-800 hover:text-blue-800 active:dark:text-blue-600 dark:hover:text-blue-600 focus:outline-none focus-visible:outline-none'
  target='_blank'
  rel='noopener noreferrer'>
  <slot />
</a>
