---
import ButtonLink from "@/components/button-link.astro";
import Grid from "@/components/grid.astro";
import FolderStarIcon from "@/components/icons/folder-star.astro";
import Item from "@/components/item.astro";
import {
  getContents,
  getContentsLimit,
  sortMDByDateContents,
} from "@/services/content";

interface Props {
  limit?: number;
  next: boolean;
}

const { limit, next } = Astro.props;

const allServices = await getContents({ type: "service" });
const sortServices = sortMDByDateContents({ contents: allServices });
const services = getContentsLimit({ contents: sortServices, limit });
---

<section id="services" class="my-10">
  <div class="flex flex-col gap-y-6 justify-center">
    <div class="flex gap-x-2 items-center">
      <FolderStarIcon />
      <h3 class="text-3xl font-semibold text-blue-800 dark:text-blue-600">
        Services
      </h3>
    </div>
    <Grid>
      {services.map(({ data, slug }) => <Item data={data} slug={slug} />)}
    </Grid>
    {
      next && (
        <div>
          <ButtonLink url="/services">Ver más</ButtonLink>
        </div>
      )
    }
  </div>
</section>
