---
import ButtonLink from "@/components/button-link.astro";
import Card from "@/components/card.astro";
import BriefcaseIcon from "@/components/icons/briefcase.astro";
import Masonry from "@/components/masonry.astro";
import {
  getContents,
  getContentsLimit,
  sortMDByDateContents,
} from "@/services/content";

interface Props {
  limit?: number;
  next: boolean;
}

const { limit, next } = Astro.props;

const allProjects = await getContents({ type: "project" });
const sortProjects = sortMDByDateContents({ contents: allProjects });
const projects = getContentsLimit({ contents: sortProjects, limit });
---

<section id="projects" class="my-10">
  <div class="flex flex-col gap-y-6">
    <div class="flex gap-x-2 font-semibold items-center">
      <BriefcaseIcon />
      <h3 class="text-3xl text-blue-800 dark:text-blue-600 font-semibold">
        Proyectos
      </h3>
    </div>
    <Masonry>
      {projects.map(({ data, slug }) => <Card data={data} slug={slug} />)}
    </Masonry>
    {
      next && (
        <div>
          <ButtonLink url="/projects">Ver más</ButtonLink>
        </div>
      )
    }
  </div>
</section>
