---
import { LINKS } from "src/constants";
---

<ul class="md:flex hidden justify-between gap-x-4 items-center">
  {
    LINKS.map(({ name, path }) => (
      <a class="hover:text-green-600 hover:underline" href={path}>
        {name}
      </a>
    ))
  }
</ul>
