---
interface Props {
  class?: string;
  id?: string;
}
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} px-2 md:px-0 w-full mx-auto container lg:max-w-4xl md:max-w-2xl my-8`}
>
  <slot />
</section>
