---
import type { MarkdownHeading } from "astro";

import { generateToc } from "src/utils/generate-toc";

import TOCHeading from "./toc-heading.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<div class="w-full">
  <h2 class="font-semibold text-blue-600 dark:text-blue-500">
    Table of Contents
  </h2>
  <ul class="mt-4">
    {toc.map((heading) => <TOCHeading heading={heading} />)}
  </ul>
</div>
