---
import PlusIcon from '@/components/icons/plus-icon.astro'
import Link from './link.astro'
interface Props {
  link: string
  title?: string
}

const { link, title } = Astro.props
---

<div class='flex flex-col justify-center items-center'>
  <Link link={link}>
    <PlusIcon />
    <span>{title}</span>
  </Link>
</div>
