---
import type { CollectionEntry } from "astro:content";

import BaseLayout from "./root.astro";
import Hero from "../components/project/hero.astro";
import TOC from "../components/project/toc.astro";

interface Props {
	project: CollectionEntry<"project">;
}

const { project } = Astro.props;

const { headings } = await project.render();
---

<BaseLayout meta={{ title: project.data.title, description: project.data.description }}>
	<div class="gap-x-10 lg:flex lg:items-start">
		{!!headings.length && <TOC headings={headings} />}
		<article class="flex-grow break-words" data-pagefind-body>
			<div id="blog-hero"><Hero content={project} /></div>
			<div>
				<slot />
			</div>
		</article>
	</div>
</BaseLayout>
