---
import { SITE_CONFIG } from '@/constants'
import type { SiteMeta } from '@/types'
import Footer from '../components/footer.astro'

import Head from '../components/head.astro'
import Header from '../components/header.astro'
import '@fontsource/montserrat'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  meta: SiteMeta
}

const {
  meta: { title, description = SITE_CONFIG.description, ogImage, articleDate },
} = Astro.props
---

<!doctype html>
<html lang='en' class='min-h-screen'>
  <head>
    <Head
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
    />
    <ViewTransitions />
  </head>
  <body
    class='relative dark:text-gray-200 text-gray-800 overflow-x-hidden dark:bg-black bg-white'>
    <div id='header'></div>
    <Header />
    <slot />
    <button
      aria-label='Back to Top'
      class='bg-gray-800 dark:bg-gray-200 z-90 fixed bottom-8 end-4 flex h-10 w-10 translate-y-28 items-center justify-center rounded-full text-3xl opacity-0 transition-all duration-300 data-[show=true]:translate-y-0 data-[show=true]:opacity-100 sm:end-8 sm:h-12 sm:w-12 hover:text-blue-800 hover:dark:text-blue-600 dark:text-gray-800 text-gray-200'
      data-show='false'
      id='to-top-btn'
      ><svg
        aria-hidden='true'
        class='h-6 w-6'
        fill='none'
        focusable='false'
        stroke='currentColor'
        stroke-width='2'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <path
          d='M4.5 15.75l7.5-7.5 7.5 7.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
      </svg>
    </button>
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: 'Montserrat', system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
          }
        }
      }
    </style>
    <script>
      const scrollBtn = document.getElementById('to-top-btn')
      const header = document.getElementById('header')
      function callback(entries: IntersectionObserverEntry[]) {
        entries.forEach((entry) => {
          if (scrollBtn) {
            scrollBtn.dataset.show = (!entry.isIntersecting).toString()
          }
        })
      }

      if (scrollBtn) {
        scrollBtn.addEventListener('click', () => {
          document.documentElement.scrollTo({ behavior: 'smooth', top: 0 })
        })
      }
      const observer = new IntersectionObserver(callback)
      if (header) {
        observer.observe(header)
      }
    </script>
  </body>
</html>
