---
import { Up } from "@/components/up";
import { SITE_CONFIG } from "@/constants";
import type { SiteMeta } from "@/types";
import "@fontsource-variable/onest";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/layouts/footer.astro";
import Head from "../components/layouts/head.astro";
import Header from "../components/layouts/header.astro";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title, description = SITE_CONFIG.description, ogImage, articleDate },
} = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-screen">
	<head>
		<Head title={title} description={description} ogImage={ogImage} articleDate={articleDate} />
		<ViewTransitions />
	</head>
	<body class="bg-black text-white">
		<Header />
		<main class="w-full">
			<slot />
		</main>
		<Up client:load />
		<Footer />
		<style is:global>
			:root {
				color-scheme: dark;
			}

			html,
			body {
				scroll-behavior: smooth;
				font-family:
					"Onest Variable",
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					"Segoe UI",
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					"Open Sans",
					"Helvetica Neue",
					sans-serif;
			}
		</style>
	</body>
</html>
